.box, .success-box {
  border: 1px solid gray;
  padding: 10px;
  display: inline-block; }

.success-box {
  border: 1px solid green; }

h3 {
  color: green;
  font-size: 12px; }

.box-2 {
  width: 65%; }

body {
  background-color: #eee; }

p {
  background-color: #333;
  color: white; }

span {
  background-color: #123;
  color: white; }

a {
  background-color: #123;
  color: white; }

.container {
  width: 100%; }

article[role="main"] {
  float: left;
  width: 62.5%; }

aside[role="complementary"] {
  float: left;
  width: 31.25%; }

button {
  background-color: #2ecc71;
  border-radius: 3px;
  box-shadow: 0px 5px 0px #25a25a;
  border: none;
  padding: 10px 30px;
  display: inline-block;
  outline: 0; }
  button:hover {
    background-color: #25a25a;
    box-shadow: 0px 5px 0px #1b7943; }
  button:active {
    box-shadow: none;
    margin-top: 5px; }
  button .button-text {
    font-size: 17px;
    color: white; }
