// grid default

$total-grid-columns: 12 !default;
$gutter: 2% !default;
$fold: left !default;
$push: 0 !default;

@mixin grid(
    $col-span,
    $fold: $fold,
    $push: $push,
    $grid-size: $total-grid-columns,
    $margin: $gutter
) {
}
